<%- include("header") -%>

  <div class="box" id="heading" >
    <h1> <%= listTitle %> </h1>
 
  </div>
  <div class="box">
    <form class="item" action="/lists" method="post">
      <input type="text" name="newItem" placeholder="New List Item" autocomplete="off">
      <button type="submit" name="list" value="<%=listTitle%>" class="add"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg></button>
    </form>
    
    <% newListItems.forEach(function(item){%>
 <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
        <p><%=  item.name  %></p>
      </div>
      <input type="hidden" name="listName" value="<%=listTitle%>"></input>
</form>
      <% }) %>

     
  </div>
</div>
  <div class="box" id="heading">
    <h1><a href="/myLists">Show my saved lists</a></h1>
    </div>

  
  <div class="box" id="heading">
         <h1><a href="/">Create new checklist --> Home</a></h1>
     </div>
 

<%- include("footer") -%>
